AfkoApi/src/main/resources/HELP.md
AfkoApi/target/
AfkoApi//src/main/resources/application.properties
AfkoApi/.mvn/wrapper/maven-wrapper.jar
AfkoApi/**/src/main/**/target/
AfkoApi/src/main/resources/HELP.md
AfkoApi/target/
AfkoApi//src/main/resources/application.properties
AfkoApi/.mvn/wrapper/maven-wrapper.jar
AfkoApi/**/src/main/**/target/
AfkoApi/**/src/test/**/target/
### STS ###
.factorypath
AfkoApp/**/src/main/**/target/
AfkoApi/**/src/test/**/target/
AfkoApi/src/main/resources/keystore/AfkoApi.p12

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
AfkoApi//nbproject/private/
AfkoApi//nbbuild/
AfkoApi//dist/
AfkoApi//nbdist/
AfkoApi//.nb-gradle/
AfkoApi/build/
AfkoApi/**/src/main/**/build/
AfkoApi/**/src/test/**/build/

### VS Code ###
AfkoApi/.vscode/
ramonkrijnen@MacBook-Air-van-Ramon codebase % vim .gitignore
ramonkrijnen@MacBook-Air-van-Ramon codebase % cat .gitignore
AfkoApi/src/main/resources/HELP.md
AfkoApi/target/
AfkoApi//src/main/resources/application.properties
AfkoApi/.mvn/wrapper/maven-wrapper.jar
AfkoApi/**/src/main/**/target/
AfkoApi/**/src/test/**/target/
AfkoApi/src/main/resources/keystore/AfkoApi.p12

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
AfkoApi//nbproject/private/
AfkoApi//nbbuild/
AfkoApi//dist/
AfkoApi//nbdist/
AfkoApi//.nb-gradle/
AfkoApi/build/
AfkoApi/**/src/main/**/build/
AfkoApi/**/src/test/**/build/

### VS Code ###
AfkoApi/.vscode/

AfkoApp/src/main/resources/HELP.md
AfkoApp/target/
AfkoApp//src/main/resources/application.properties
AfkoApp/.mvn/wrapper/maven-wrapper.jar
AfkoApp/**/src/main/**/target/
AfkoApp/**/src/test/**/target/
AfkoApp/src/main/resources/keystore/AfkoApp.p12

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
AfkoApp//nbproject/private/
AfkoApp//nbbuild/
AfkoApp//dist/
AfkoApp//nbdist/
AfkoApp//.nb-gradle/
AfkoApp/build/
AfkoApp/**/src/main/**/build/
AfkoApp/**/src/test/**/build/

### VS Code ###
AfkoApp/.vscode/
